html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
	font-family: 'Rubik', sans-serif;
	background-color: var(--background-color);
	border: 0;
}

.container {
	padding: 50px 90px;
  background-color: var(--background-color);
}

.section {
  padding: 80px 0;
}

.h2__heading {
	font-size: var(--font-size-35);
	font-weight: var(--font-weight-500);
	line-height: 50px;
}

.h3__heading {
  font-size: 18px;
  font-weight: var(--font-weight-500);
  color: var(--primary-color-text);
}

a {
	text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}